@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle {
  font-style: normal;
}

.triangle::before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0em;
  border: 1em solid transparent;
  border-left-color: #ffffff;
}

.truncate-text-3 {
  /* Establece un alto máximo equivalente a tres líneas de texto */
  max-height: calc(1.5em * 3); /* Ajusta 1.5em al tamaño de fuente del texto */
  min-height: calc(1.5em * 3);
  /* Propiedades para truncar el texto si excede el límite de líneas */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.truncate-text-2 {
  /* Establece un alto máximo equivalente a dos líneas de texto */
  max-height: calc(1.5em * 2); /* Ajusta 1.5em al tamaño de fuente del texto */
  min-height: calc(1.5em * 2);
  /* Propiedades para truncar el texto si excede el límite de líneas */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

